body{
    background: $nmC1;
    font-family: $nmFf;
    overflow-x: hidden;
    max-width: 1366px;
    margin: 0px auto;
}

/*img{
    width: 100%;
}*/

@font-face {
    font-family: 'MyWebFont';
    src: url('myfont.ttf') format('truetype');
}


